.list {
  list-style: none;
  li {
    text-align: center;
    margin-bottom: 30px;
    img {
      display: block;
      margin: 0 auto;
    }
    h2 {
      font-size: 16px;
      color: #333;
    }
    strong {
      font-size: 16px;
      color: #f15a24;
    }
  }
}